.grid-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    background-color: lightblue;
    padding: 10px;
    gap: 20px;
}

.grid-item {
    background-color: lightcoral;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}







